.book-list {
  position: absolute;
  top: 90px;
  background-color: #f3f3f3;
  width: 100vw;
  min-height: 1500px;
  margin-left: auto;
  margin-right: auto;
}

/* to use like a margin-bottom */
.footer-empty {
  height: 200px;
}

.percentage {
  font-size: 40px;
  margin: -20px 0;
}
