@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.flex {
  display: flex;
}

.book-container {
  width: 70vw;
  height: auto;
  padding: 22px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  background-color: white;
  box-shadow: 1px 1px 5px #d3d3d3;
  align-items: center;
  font-family: "Roboto Slab", serif;
}

.book-container:hover {
  scale: 1.005;
  box-shadow: 2px 2px 8px #b3b3b3;
}

.info-div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
}

.tit {
  font-size: 30px;
  margin: 0;
}

.cat {
  color: rgb(129, 127, 127);
  font-weight: 600;
  margin-bottom: 5px;
}

.aut {
  color: rgb(166, 198, 225);
  margin-top: 5px;
}

.completed-div {
  border-right: inset;
  height: 120px;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding-left: 100px;
}

.progress-div {
  flex-direction: column;
  row-gap: -10px;
  align-items: flex-start;
  width: 500px;
  padding-left: 50px;
}

.progress-div-1 {
  margin-left: 50px;
}

.book-info {
  padding-left: 30px;
}

.functions {
  padding-left: 30px;
  column-gap: 10px;
  color: rgb(166, 198, 225);
  align-items: baseline;
}

.functions span {
  color: black;
  font-size: 20px;
  font-weight: 200;
}

.update {
  padding: 0.5rem;
  font-family: inherit;
  border: none;
  color: #fff;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;
  width: 225px;
  margin-top: 15px;
}

.comp {
  color: rgb(175, 173, 173);
  margin-bottom: -10px;
}

.remove-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  color: rgb(166, 198, 225);
  font-size: 15px;
  font-family: "Roboto Slab", serif;
}

.sub-completed-div {
  margin-left: 15px;
}
