@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navbar-div {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  padding-left: 230px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: blue;
  font-size: 40px;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 60px;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.link-nav {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
